.results-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;
}

.event-card {
	background-color: #292929;
	color: white;
	border-radius: 0.5rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card__image {
	background-size: cover;
	background-position: center;
	height: 8rem;
	border-radius: 0.5rem;
}

.event-card__details {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

.event-card__name {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.event-card__date,
.event-card__venue,
.event-card__tickets {
	margin: 0.5rem 0;
}

.event-card__button {
	background-color: #6d6d6d;
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	margin-top: auto;
}

.event-card__button:hover {
	background-color: #919191;
}

/* Set hover effect for event cards */
.event-card:hover {
	transform: translateY(-0.2rem);
	box-shadow: 0 8px
}